html {
  height: 100vh;
  background-color: grey;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.main {
  display: flex;
  width: 800px;
  text-align: center;
  flex-wrap: wrap;
}

.text {
  padding: 20px;
  height: 70px;
  width: 100%;
  text-align: right;
  font-size: 50px;
  background-color: whitesmoke;
}

.button {
  width: 33.33333333333%;
  height: 50px;
  font-size: 20px;
}

.oddButton {
  width: 20%;
  height: 50px;
  font-size: 20px;
}